.form-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  width: 100%;
}

.checkout-form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.checkout-form label {
  color: black;
  font-size: 20px;
  margin-bottom: 0.5rem;
  width: 1000%;
}

.form-container input[type="text"],
.form-container input[type="radio"],
.form-container select {
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}
