.navbarItem {
  font-size: 2vw;
  margin: auto;
}
.navbarCartItemQty {
  background-color: #f02d34;
  border-radius: 50%;
  color: #eee;
  font-size: 12px;
  font-weight: 600;
  height: 18px;
  position: absolute;
  right: -8px;
  text-align: center;
  width: 18px;
}

/* .navbarContainer li {
  margin: 1vw;
  padding: 1vw;
} */

/*.links a {
  padding: 4px;
}
*/
.links li:hover {
  background-color: black !important;
  color: white !important;
}
/* .links {
  display: block;
} */

.navbarLinks {
  background-color: #f3f3f3;
  display: flex;
  flex-grow: 0;
  height: 60px;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.navbarButtons {
  align-items: center;
  display: flex;
  /* padding-left: 15vw; */
}
.login {
  background-color: Transparent;
  border: none;
}
/* .navbarLinks a {
  font-weight: 900;
} */
